<a href="https://colab.research.google.com/github/charujhagrawat20/StackIt/blob/main/Prac3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd
# From Dictionary
data = {
 'ID': [1, 2, 3, 4],
 'Name': ['Alice', 'Bob', 'Charlie', 'David'],
 'Score': [78, 85, 90, 88]
}
df = pd.DataFrame(data)
print(df)
# From List of Lists
data2 = [[101, 'Math', 85], [102, 'Science', 90]]
df2 = pd.DataFrame(data2, columns=['Roll', 'Subject', 'Marks'])
print(df2)

   ID     Name  Score
0   1    Alice     78
1   2      Bob     85
2   3  Charlie     90
3   4    David     88
   Roll  Subject  Marks
0   101     Math     85
1   102  Science     90

In [3]:
print(df.head())
print(df.tail())
print(df.shape)
print(df.info())
print(df.describe())

   ID     Name  Score
0   1    Alice     78
1   2      Bob     85
2   3  Charlie     90
3   4    David     88
   ID     Name  Score
0   1    Alice     78
1   2      Bob     85
2   3  Charlie     90
3   4    David     88
(4, 3)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   ID      4 non-null      int64
 1   Name    4 non-null      object
 2   Score   4 non-null      int64
dtypes: int64(2), object(1)
memory usage: 228.0+ bytes
None
             ID      Score
count  4.000000   4.000000
mean   2.500000  85.250000
std    1.290994   5.251984
min    1.000000  78.000000
25%    1.750000  83.250000
50%    2.500000  86.500000
75%    3.250000  88.500000
max    4.000000  90.000000

In [4]:
# Add column
df['Bonus'] = 5
df['Final_Score'] = df['Score'] + df['Bonus']
print(df)
# Drop row and column
df.drop(3, axis=0, inplace=True)
df.drop('Bonus', axis=1, inplace=True)
print(df)

   ID     Name  Score  Bonus  Final_Score
0   1    Alice     78      5           83
1   2      Bob     85      5           90
2   3  Charlie     90      5           95
3   4    David     88      5           93
   ID     Name  Score  Final_Score
0   1    Alice     78           83
1   2      Bob     85           90
2   3  Charlie     90           95

In [5]:
# Filter data
high_scores = df[df['Final_Score'] > 85]
print(high_scores)
# Multiple conditions
filtered = df[(df['Final_Score'] > 80) & (df['ID'] > 1)]
print(filtered)

   ID     Name  Score  Final_Score
1   2      Bob     85           90
2   3  Charlie     90           95
   ID     Name  Score  Final_Score
1   2      Bob     85           90
2   3  Charlie     90           95

In [6]:
# Sort values
print(df.sort_values(by='Final_Score', ascending=False))
# Rank
df['Rank'] = df['Final_Score'].rank(ascending=False)
print(df)

   ID     Name  Score  Final_Score
2   3  Charlie     90           95
1   2      Bob     85           90
0   1    Alice     78           83
   ID     Name  Score  Final_Score  Rank
0   1    Alice     78           83   3.0
1   2      Bob     85           90   2.0
2   3  Charlie     90           95   1.0

In [7]:
import numpy as np
df.loc[1, 'Final_Score'] = np.nan
print(df.isnull())
print(df.fillna(df['Final_Score'].mean()))
print(df.dropna())

      ID   Name  Score  Final_Score   Rank
0  False  False  False        False  False
1  False  False  False         True  False
2  False  False  False        False  False
   ID     Name  Score  Final_Score  Rank
0   1    Alice     78         83.0   3.0
1   2      Bob     85         89.0   2.0
2   3  Charlie     90         95.0   1.0
   ID     Name  Score  Final_Score  Rank
0   1    Alice     78         83.0   3.0
2   3  Charlie     90         95.0   1.0

In [8]:
df.rename(columns={'Final_Score': 'Total'}, inplace=True)
df.index = ['A', 'B', 'C']
print(df)

   ID     Name  Score  Total  Rank
A   1    Alice     78   83.0   3.0
B   2      Bob     85    NaN   2.0
C   3  Charlie     90   95.0   1.0

In [9]:
df['Name_Upper'] = df['Name'].str.upper()
df['Name_Length'] = df['Name'].str.len()
print(df)

   ID     Name  Score  Total  Rank Name_Upper  Name_Length
A   1    Alice     78   83.0   3.0      ALICE            5
B   2      Bob     85    NaN   2.0        BOB            3
C   3  Charlie     90   95.0   1.0    CHARLIE            7

In [10]:
# Grouping example
data3 = {
 'Dept': ['IT', 'IT', 'HR', 'HR'],
 'Employee': ['A', 'B', 'C', 'D'],
 'Salary': [50000, 60000, 45000, 48000]
}
emp_df = pd.DataFrame(data3)
print(emp_df.groupby('Dept')['Salary'].mean())

Dept
HR    46500.0
IT    55000.0
Name: Salary, dtype: float64

In [11]:
# Apply function
df['Grade'] = df['Total'].apply(lambda x: 'A' if x >= 90 else 'B')
print(df)

   ID     Name  Score  Total  Rank Name_Upper  Name_Length Grade
A   1    Alice     78   83.0   3.0      ALICE            5     B
B   2      Bob     85    NaN   2.0        BOB            3     B
C   3  Charlie     90   95.0   1.0    CHARLIE            7     A

In [12]:
# Save to CSV
df.to_csv('output.csv', index=False)
print("Data exported successfully")

Data exported successfully